{{!-- {{yield}} --}}
 <section class="page_body">
    <div class="section_container">
      <!-- left container will stack on mobile -->
      <div class="left_container brandRed">
        <div class="inner_left_content brandRedDark gelasio">
          <!-- Handle ember data -->
          Intro
          </div>
      </div>
      <div class="right_container">
        <div class="inner_right_content smoothBlue gelasio">
          <!-- Handle ember data -->
           Hi there, I am Neftali, I am based in New York city and currently interning in eCommerce.<br>
            
           <br><br>
           <h4>Current Skill level:</h4>
           <ProgressBar @title_label="C++" @width="75"/>
           <ProgressBar @title_label="JavaScript" @width="50"/>
           <ProgressBar @title_label="Swift" @width="80"/>
        
        </div>
      </div>
    </div>
  </section>