{{!-- {{yield}} --}}
<div id="progress_bar_container" style="width: 80%; padding: 20px;">
  <label style="font-size: 20px;">skill_name_here</label><div id="bar" style="height: 5px; background-color: #85C1E9; border-radius: 6px;"></div>
</div>