{{!-- {{yield}} --}}
<div id="progress_bar_container" style="width: {{@width}}%; padding: 20px;">
  <label style="font-size: 20px;">{{@title_label}}</label>
  <div id="bar" style="height: 5px; background-color: #85C1E9; border-radius: 6px;"></div>
</div> 

{{yield}} 