<!-- Reusable component for hosting every project -->
<div class="canvas-container transitionEffect" style="background-color: {{bgColor}};">
  <h2>{{projectTitle}}</h2>
  <div>
    {{projectDescription}}
  </div>
</div>

{{yield}}