<!-- Reusable component for hosting every project -->
<div class="canvas-container" style="background-color: {{bgColor}};">
  <h2>{{projectTitle}}</h2>
  <h3>Index : {{pageIndex}}</h3>
</div>

{{yield}}