
 <!-- This section will render components in a slider form -->
 <section class="page_body" style="text-align: center;">
   <h1 class="heighten">Projects</h1>
   <ul>
    {{#each @model as |scientist|}}
      <li>{{scientist}}</li>
    {{/each}}
  </ul> 
   {{!-- {{#carousel-container transitionInterval=200 as |ui controls|}}
    {{#each this.model.items as |item|}}
      {{#ui.item}}
        Inner Loop
       {{/ui.item}}
     {{/each}}
   {{/carousel-container}} --}}
 </section>
{{yield}}